body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  font-size: 50px;
}
 

input{
  width: 450px;
  padding: 8px;
}

.add{
  padding: 8px;
  margin-left: 50px;
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
}

.edit{
  padding: 8px;
  margin-left: 10px;
  color: white;
  background-color: blue;
  border: none;
  cursor: pointer;
}

.delete{
  padding: 8px;
  margin-left: 10px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}
.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-item input[type="text"] {
  width: 300px;
  margin-right: 10px;
}

.todo-item button {
  margin-left: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
}
button{
  border-radius: 5px;
  border: 1px solid transparent;
}